<div class="container">
    <h1>About Us</h1>
    <p>Car Rental Service is specialized to help people to list their car to make some extra money while they do not use their car and to rent a car when they need to drive.</p>
    <p>if you need to ask any question,feel free to contact us by clicking below link</p>
    <a href="/contact">contact Us</a>
    <small>All rights reserved. Copyright &copy 2021</small>
</div>
<style>
    body{
        background-image: url('/public/image/abc3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        color: darkred;
    }
    p{
        color: darkblue;
    }
    small
    {
        color: darkgreen;
    }
</style>