<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <form action="/calculate" method="post">
            <div class="form-group">
                <label for="hour">How long do you rent?</label>
                <select name="hour" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1 hr</option>
                    <option value="2">2 hrs</option>
                    <option value="3">3 hrs</option>
                    <option value="4">4 hrs</option>
                    <option value="5">5 hrs</option>
                </select>
                <select name="day" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1 day</option>
                    <option value="2">2 days</option>
                    <option value="3">3 days</option>
                    <option value="4">4 days</option>
                    <option value="5">5 days</option>
                </select>
                <select name="week" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1 wk</option>
                    <option value="2">2 wk</option>
                    <option value="3">3 wk</option>
                    <option value="4">4 wk</option>
                </select>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-danger">Calculate Total</button>
                </div>
            </div>  
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<style>
    body{
        background-image: url('/public/image/calculator.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: cover;
    }
</style>