<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-4">
            <form action="/checkout" method="POST">
            <div class="form-group">
                <label for="pay">Total Amount to be paid is Rs.xxxxx</label>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-danger">Proceed to checkout</button>
                </div>
            </div>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<style>
    div{
        text-align: center;
    }
    body{
        background-color: plum;
    }
</style>