<h1>You have successfully logged out....</h1>
<h4>To get back to home page click here <a href="/">Home</a></h4>
<style>
    body{
        background-image: url('/public/image/abc.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>