<div class="containr">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <form action="/paymentsuccess" method="POST">
                <h1>SUCCESS!!!</h1>
                <h5>Thanks for Payment</h5>
                <p>Amount paid: Rs.xxxxx</p>
                <p>Payment Method: xxxxxxxxxxxxxx</p>
                <p>If you have any Queries <a href="/contact">Contact Us</a></p>
                <p>If you wish to log out<a href="/logout">Click here</a></p>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<style>
    body{
        background-image: url('/public/image/abc1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        color: chartreuse;
    }
    h5{
        color: forestgreen;
    }
    p{
        color: darkgray;
    }
</style>