<div class="container">
   <div class="row">
       <div class="col-sm"></div>
       <div class="col-sm-6">
            <form action="/queries" method="POST"></form>
                <h2>You have successfully placed your query!!!</h2>
                <p>We will get back to you at the earliest possible</p>
                <p> To redirect to login page click here <a href="/login">Login</a></p>
            </form>
       </div>
       <div class="col-sm"></div>
   </div>
 </div>
<style>
    body{
        background-color: burlywood;
    }
    h2{
        text-align: center;
        text-decoration: hsla(hue, saturation, lightness, alpha);
        color: green;
    }
</style>