<div class="container">
    <form action="/regsuccess" method="POST"></form>
       <h1>You have successfully registred!!!</h1>
       <p> To redirect to login page click here  <a href="/login">Login</a></p>
    </form>
 </div>
<style>
    body{
        background-image: url('/public/image/log.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1{
        text-align: center;
        text-decoration: hsla(hue, saturation, lightness, alpha);
        color: chartreuse;
    }
    p{
        color: chocolate;
        text-align: center;
    }
</style>