<div class="container">
   <form action="/RentCar" method="POST">
    <h2 class="center">Rental Service</h2>
    <h2 class="center">
        <img src="/public/image/venue.jpg" alt="logo">
        <p>Company :Hyundai</p>
        <p>Model :venue</p>
        <p>year :2019</p>
        <p>Rent per Hour :300</p>
        <p>Rent per Day :1500</p>
        <p>Rent per week :6000</p>
        <button type="submit" class="btn btn-primary">Rent</button>
    </h2>
    <h2 class="center">
        <img src="/public/image/Brezza.jpg" alt="logo">
        <p>Company :Maruti Suzuki</p>
        <p>Model :vitara Brezza</p>
        <p>year :2019</p>
        <p>Rent per Hour :400</p>
        <p>Rent per Day :1800</p>
        <p>Rent per week :6500</p>
        <button type="submit" class="btn btn-primary">Rent</button>
    </h2>
    <h2 class="center">
        <img src="/public/image/xuv700.jpg" alt="logo">
        <p>Company :Mahindra</p>
        <p>Model :XUV700</p>
        <p>year :2019</p>
        <p>Rent per Hour :500</p>
        <p>Rent per Day :1800</p>
        <p>Rent per week :7000</p>
        <button type="submit" class="btn btn-primary">Rent</button>
    </h2>
    <h2 class="center">
        <img src="/public/image/civic.webp" alt="logo">
        <p>Company :Honda</p>
        <p>Model :Civic</p>
        <p>year :2020</p>
        <p>Rent per Hour :800</p>
        <p>Rent per Day :5000</p>
        <p>Rent per week :20000</p>
        <button type="submit" class="btn btn-primary">Rent</button>
    </h2>
    <h2 class="center">
        <img src="/public/image/audi.jpg" alt="logo">
        <p>Company :Audi</p>
        <p>Model :A6</p>
        <p>year :2019</p>
        <p>Rent per Hour :1000</p>
        <p>Rent per Day :7000</p>
        <p>Rent per week :30000</p>
        <button type="submit" class="btn btn-primary">Rent</button>
    </h2>
    <h2 class="center">
        <img src="/public/image/Benz.jpg" alt="logo">
        <p>Company :Mercedes-Benz</p>
        <p>Model :GLC</p>
        <p>year :2021</p>
        <p>Rent per Hour :1200</p>
        <p>Rent per Day :8000</p>
        <p>Rent per week :35000</p>
        <button type="submit" class="btn btn-primary">Rent</button>
    </h2>
  </form>
</div>
<style>
    body{
        background-color: lightgreen;
    }
    h2{
        text-align: center;
        text-decoration: hsla(hue, saturation, lightness, alpha);
        font-size: x-large;
        color:maroon;
    }
    p{
        font-size: small;
        color: darkslategrey;
    }
    img{
        height: 20%;
        width: 20%;
        display: block;
        margin: 0 auto 0 auto;
    }
</style>